.home-container {
  display: flex;
}



.sidebar h2 {
  text-align: center;
}

.nav-link {
  color: #fff;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.top-navbar1 {
  display: absolute;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.btns {
  display: flex;
}

.btn {
  margin-right: 10px;
}
.approved-applications {
  
  margin-bottom: 60px; /* Adjust margin as needed */
}

.inst-button,
.apply-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.last-heading {
  margin-left: 30px;
  margin-bottom: 20px;
}
.application-list table {
  width: 98%;
  border-collapse: collapse;
  border-right: 4px solid #000000;
  padding-right: 30px;
}

.application-list th,
.application-list td {
  padding: 10px;
  border: 2px solid #000000; /* Adjust border thickness */
}

.application-list th {
  background-color: #98c9fd;
  font-weight: bold;
  text-align: left;
}

.application-list tbody tr:nth-child(even) {
  background-color: #fffefe;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to the center horizontally */
}

.welcome-icon {
  /* Adjust the font-size if needed for the icon size */
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: -10px; /* Reduced space below the icon */
}

/* The rest of the CSS remains unchanged */


.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align text items to the center */
  margin-top: 0px;
}

.name {
  font-size: 1.2rem; /* Adjust size as needed */
 

}

.email {
  display: flex;
  align-items: center; /* Align email text and icon */
}

.email i {
  margin-right: 5px; /* Add space between icon and email address */
}

/* The rest of the CSS remains unchanged */
