@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: #6c6c6e;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.landingpage {
  display: flex;
  height: 100vh;
  position: relative;
}

.half-green {
  flex: 1;
  background-color: rgba(171, 248, 228, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.half-yellow {
  flex: 1;
  background-color: #b4b4b8;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%, 0% 0%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 55%;
  height: 55%;
  opacity: 3.4;
}

.button-container {
  position: absolute;
  top: 2%;
  right: 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.button {
  width: 120px;
  height: 40px;
  background-color: #7be0b5;
  border: 2px solid #000000;
  border-radius: 40px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-box1 {
  font-weight: bold;
  text-decoration: none;
  font-size: 50px;
  color: #333;
  margin-bottom: 20px;
  position: relative;
}
.title-box2 {
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
  position: relative;
}

.title-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000000;
  font-weight: bold;
}

.paragraph {
  font-size: 25px;
  color: #333;
  padding: 20px;
  text-align: center;
}

.admin-details-container {
  position: relative;
  margin-top: 80px;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 90px;
  text-align: center;
  background-color: #f9f7f7;
}

.admin-details {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin-block {
  width: 80%;
  border-top: 2px solid #000000;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

.footer {
  height: 80px;
  background-color: #454545;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  position: absolute;
  bottom: 30px;
  left: 12%;
  transform: translateX(-50%);
  color: #ffffff;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #f9f7f7;
  margin: 10px 5px;
  height: 250px;
  width: 25%;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 120px;
  width: 100%;
  background-color: #c7c8cc;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 1.8em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 80px;
}

.info {
  margin: 20px 0;
  color: #000000;
  display: flex;
  align-items: center;
}

.info i {
  margin-right: 10px;
}

.sameline {
  flex: 1;
  background-color: #b4b4b8;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%, 0% 0%);
  padding: 20px;
  margin: -1px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .sameline {
    flex-direction: column;
  }
}
.logoimg {
  border-radius: 50%;
  border: 3px solid #fff;
}
#iit_roparland {
  color: white;
  margin-right: 18%;
}
