/* styles.css */

.signup-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 100px 0 100px 0;
  background-color:#b4b4b8; /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}
.back{
  background-color:#b4b4b8; 
}
.signup-popup {
  background-color: white;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  background-color: rgba(117, 113, 113, 0.5); /* semi-transparent black background */
  justify-content: center;
  align-items: center;
}

.signup-title-box1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-input-field {
  width: calc(100% - 20px); /* minus padding */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  border: #7be0b5;
  
}
.signup-input-field::placeholder {
  font-size: 18px; /* Adjust the size as needed */
  font-weight: 300;
}
.signup-input-field select option[disabled]:first-child {
  font-size: 18px; /* Adjust the size as needed */
  font-weight: 300;
}
.signup-button{
  width: 120px;
  height: 40px;
  background-color: #16a668;
  /* border: 2px solid #000000; */
  border-radius: 40px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.signup-login-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #009664;
  text-decoration: none;
}

.stray8{
justify-content: flex-end;

}

.login-link {
  margin-left: 30px; /* Adjust as needed */
  /* Additional styles for the login link */
  color:#009664;
  font-weight: 900;
  font-size: medium;
}
.button-c {
  display: flex;
  align-items: center;
}
.signup-button, .login-link {
  display: inline-block; /* Display as inline-block to allow them to appear horizontally */
}
